



.japonia {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

div{

    max-width: 600px;
    margin: auto;
    background-color: black;
    padding: 30px;



}
    body{

        color:rgb(255, 255, 255);
    
        background-color: rgba(5, 1, 255, 0.945);
    }
    

p{

font-size: xx-large;



}


h1{
    font-size: xx-large;
    font-family: 'Times New Roman';
    
    
    }

body{


    background-color: rgba(5, 1, 255, 0.945);
}

img{
    width:200px;
}

#maozedong{
   
    font-family: 'Times New Roman';



}


